.historial__container{
    width: 100%;
    height: 100%;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.historial__container > ul{
    width: 95%;
    height: 95%;
    /* border: 2px solid rgb(2, 2, 19); */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    gap: 1.25rem;
    padding-top: 2.875rem;
    overflow: hidden;
    overflow-y:scroll;
}
.historial__container > ul >li{
    width: 100%;
    text-align: center;
    /* height: 20%; */
    /* border: 2px solid green; */
    /* text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative; */
}
.historial__container > h1{
    color: #272727;
    font-size: calc(1em + 1vw);
    font-weight: 700;
    margin-top: 20px;
   
}
.display__btn{
    display: none;
}