body {
    background: #2adce2;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Serif+Pro:wght@200;400&display=swap');

:root {
    --color-black: black;
    --color-white: white;
    --color-icomSocial: #2D2D2C;
    --border-color: #272727;
    --border-button: #7C829D;
    --custom-filter:
        drop-shadow(-11px 1px 3px var(--border-color));
    /* drop-shadow(5px 5px 10px var(--border-color))
    drop-shadow(5px 5px 10px var(--border-color))
    drop-shadow(5px 5px 10px var(--border-color)); */
}

.home__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 43.75rem 7.5rem;
    grid-template-areas:
        "principal principal principal principal principal"
        "footer footer footer footer footer"
    ;

    font-family: 'Roboto', sans-serif;
    position: relative;

}

.home__principal {
    grid-area: principal;
    background: #282185d0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.125rem;

}

.home__principal--background {

    background-image: url('https://user-images.githubusercontent.com/87577172/181152138-07763c22-a182-4d2d-a9de-24c805206fc7.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.1;
    z-index: 1;

}

.home__footer {
    grid-area: footer;
    background: #272727;
}

.home__principal--left {
    width: 40%;
    height: 70%;
    /* border: 2px solid red; */
    z-index: 10;
}

.home__principal--right {
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    border-radius: 74px;
    position: relative;
    border: none;
    z-index: 9;
    border-radius: 50px;
    background: #ffffff;
    box-shadow:  21px 21px 0px #ffffff ,
                 -21px -21px 0px #cecece;
}