.left__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.left__container>form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.left__container>h1 {
    font-size: calc(1em + 1vw);
    color: #ffffff;
    font-weight: 600;
}

.left__container--numero1 {
    margin-top: 3.125rem;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.left__container--numero1>label {

    font-size: calc(0.8em + 0.8vw);
    color: #ffffff;
    font-weight: 600;
}

.numero1__input {
    width: calc(12.5em + 12.5vw);
    height: calc(1.5em + 1.5vw);
    background: white;
    border: none;
    align-self: center;
    border-radius: 0.625rem;
    outline: none;
    padding-left: 0.625rem;
}
.left__container--numero1>input::placeholder {
    color: black;
    padding-left: 9.6rem;

}

.left__container--numero1>input:focus {
    background: rgb(231, 230, 230);
}

.left__container--button {
    width: calc(6em + 6vw);
    height: calc(1.2em + 1.2vw);
    background: white;
    margin-top: 6.125rem;
    border-radius: 0.625rem;
    font-size: calc(0.8em + 0.8vw);
    color: #272727;
    font-weight: 800;
    cursor: pointer;
    transition: all 1s ease;
}

.left__container--button:hover {
    background: #27272758;
    transition: all 1s ease;
    color: white;
}

.left__container--button>i {
    margin-right: 1.875rem;

}

 .mensaje-form{
    font-size: calc(1em + 1vw);
    /* margin-top: 40px; */
    color: #ffffff;
    align-self: center;
    transform: translateY(1.875rem);
    
 }
 .mensaje-none{
    display: none;
 }
 .activa-mensaje{
    width: calc(12.5em + 12.5vw);
    height: calc(1.5em + 1.5vw);
    background: rgba(226, 60, 60, 0.532);
    border: none;
    align-self: center;
    border-radius: 0.625rem;
    outline: none;
    padding-left: 0.625rem;
 }

 @media screen and (max-width:1200px) {
    .left__container>h1 {
        font-size: calc(0.8em + 0.8vw);
        text-align: center;
    }
    .left__container--numero1>label {
        font-size: calc(0.6em + 0.8vw);
    }
    .mensaje-form{
        font-size: calc(0.8em + 0.8vw);   
        text-align: center;
     }
     .left__container--numero1>input::placeholder {
    
        padding-left: 6.6rem;
    
    }
}
@media screen and (max-width:800px) {
   
     .left__container--numero1>input::placeholder {
        padding-left: 4.6rem;
    }
 
}